{:paths ["src"]
 :pods {org.babashka/go-sqlite3 {:version "0.3.13"}}
 :tasks
 {test:clj           (shell "clojure -M:test -m filipesilva.sqlatom-test")
  test:bb            (shell "bb -cp src:test -m filipesilva.sqlatom-test")
  test:cross-process (shell "bb test/cross_process_test.bb")
  test               (do (run 'test:clj)
                         (run 'test:bb)
                         (run 'test:cross-process))
  bench              (shell "clojure -M:bench -m bench")
  probe              (shell "clojure -M:bench -m probe")
  roundtrip          (shell "clojure -M:bench -m roundtrip")}}
