{:paths ["src"]
 :pods {org.babashka/go-sqlite3 {:version "0.3.13"}}
 :tasks
 ;; uses global nvk so it's not added to deps
 ;; https://github.com/filipesilva/invoker
 {test:clj           (shell "nvk test")
  test:cross-process (shell "bb test/cross_process_test.bb")
  test:bb            (shell "nvk -d bb test")
  test               (do (run 'test:clj)
                         (run 'test:bb)
                         (run 'test:cross-process))}}
